*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    min-height: 10vh;
    background-color: rgb(239, 239, 148);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main{
    min-height: 80vh;
    background-color: rgb(92, 92, 180);
}

footer{
    min-height: 10vh;
    background-color: rgb(239, 239, 148);
    
}

a{
    margin-left: 2rem;
    border-radius: 2rem;
    border: 2px solid blue;
}

.Home_Logo{
    width: auto;
    height: 3.5rem;
    margin-left: 3rem;
    border: 1px solid green;
}

nav{
    margin-right: 3rem;
}

body{
    /* background-image: url("https://www.wallpapertip.com/wmimgs/119-1195372_colorful-paint-abstract-art-hd-wallpaper-wallpaper-painting.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; */
    background-color: violet;
}

.container_1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 3rem;
}

.search{
    padding-left: 72rem;
    margin-right: 3rem;
    margin-top: -1rem;
}

.ImgFooter{
    width: auto;
    height: 3rem;
    margin-top: 0.8rem;
}

.ImagenCarrusel{
    height: 25rem;
}

.ImgDetails{
    margin-top: 2rem;

    height: 20rem;
    width: auto;
}

fieldset {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 15rem;
    width: 70%;
    height: 90%;
    background-color: yellowgreen;
} 

.check_env {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.check {
    width: 80%;
}

.enviar {
    width: 20%;
}

.ImagenCards{
    height: 15rem;
}


table,td {
	border: 3px solid black;
    text-align: center;
}

.ColorEncabezadoTabla{
    background-color: yellow;
}

td{
    background-color: beige;
}